{% extends 'base.html' %}


{% block main %} 
<main id="main">
    <h1 id="name"> <i class="fab fa-microsoft"></i> User DB</h1>
    <section id="about">
        <p>abc is an Indian e-commerce company based in Mumbai,
            Maharashtra, India. It provides an omnichannel, online-to-offline platform to fashion retailers, by sourcing
            products and getting their inventory on its online marketplace.[1]

            Fynd was founded by Farooq Adam, Harsh Shah and Sreeraman MG in Mumbai, India, in September 2012.[2] The
            company initially started as Shopsense, a specialized service to improve consumer experience with brands to
            make a better buying experience for its users. In 2015, the company rebranded itself to Fynd and launched
            its platform as an online marketplace.[3] Fynd introduced two products, Fynd Marketplace for vendors and
            Fynd Store for customers
        </p>

    </section>
    <section id="products" class="containergrid even">
        <item1 class="item1">Products</item1>
        <item2 class="item2">
            <divider id="divider">
                <div><i class="fas fa-plane" aria-hidden="true"></i></div>
            </divider>
        </item2>
        <item3 class="item3">
            <div> Omnichannel Platform </div>
            <p> is India's largest omnichannel platform helping retail businesses accelerate growth.
                Our technological solutions combine integrated stock visibility and tailored logistics across demand
                channels for a consistent and seamless experience. Fynd brings focus back to customers and drives
                interactions within the brand's omnichannel ecosystem⁠—ultimately, unlocking sales and engagement.
            </p>
        </item3>
        <item4 class="item4">
            <div> Shopping App</div>
            <p> launched their mobile application for Android and iOS users and began fulfilling orders from fashion
                stores.[15] Next year, the company launched an omnichannel in-store product, to connect online and
                offline retai</p>
        </item4>
        <item5 class="item3">
            <div>Windows</div>
            <p>Microsoft Windows, commonly referred to as Windows, is a group of several proprietary graphical
                operating system families, all of which are developed and marketed by Microsoft. Each family caters
                to a certain sector of the computing industry.</p>
        </item5>
        <item4 class="item4">
            <div>Microsoft Excel</div>
            <p>Microsoft Excel is a spreadsheet developed by Microsoft for Windows, macOS, Android and iOS. It
                features calculation or computation capabilities, graphing tools, pivot tables, and a macro
                programming language called Visual Basic for Applications. Excel forms part of the Microsoft Office
                suite of software.</p>
        </item4>

    </section>
    <section id="founders" class=" text-justify mt-3">
        <h1 class="text-center " id="headline">Founders</h1>
        <section id="last">
            <p>Fynd was founded in 2012 by Farooq Adam, Harsh Shah and Sreeraman MG, alumni of IIT Bombay and formerly
                worked for technology companies. Fynd initially focused on selling lifestyle products from branded
                stores. Soon, they created a technology platform for merchants to manage their sales across multiple
                sales channels, including e-commerce platforms. They worked on creating an all service platform for
                vendors as Fynd.com. Following its launch, Fynd slowly and gradually grew in prominence and was
                receiving several orders per day. In 2016, the company launched Fify, a conversation bot to offer
                personal virtual shopping assistant experience to their users.
            </p>

        </section>


    </section>

    <section id="founders" class=" text-justify mt-3 even">
        <h1 class="text-center " id="headline">Funding</h1>
        <section id="last">
            <p>Initially,  raised fundings from Kae Capital and a few angel investors in their seed round.[27]
                Later,  raised multiple fundings in 2017: first, an undisclosed funding from Anand Chandrasekaran,
                Chief Product Officer of Snapdeal;[28] then in March it raised $500,000 from Venture Catalysts.[29][30]
                Two months later, the company again raised $500,000 in Series A from Silicon Valley-based venture
                capital fund Rocketship.[31] In June 2017, the company received $3.4 million from IIFL Seed Ventures,
                Venture Catalyst and others.[32][33][34][35]

                In March 2018, Fynd announced that it had raised an undisclosed amount of funding in its Series C round
                led by Google with participation from previous backers.[36]

                In August 2019, Reliance Industries announced that they have acquired a major stake of 87.6% in Fynd for
                295 crores with an option to further invest up to ₹100 crores by December 2021
            </p>

        </section>


    </section>


</main>

{% endblock main %}